[Unit]
Description=no description given

[Service]
Type=simple
User=sensu
Group=sensu
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/sensu-agent
EnvironmentFile=-/etc/sysconfig/sensu-agent
ExecStart=/usr/local/bin/sensu-agent "start"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
