---
##
# agent configuration
##
#id: ""
#namespace: "default"
#subscriptions: ""
#backend-url:
#  - "ws://127.0.0.1:8081"

##
# authentication configuration
##
#user: "agent"
#password: "P@ssw0rd!"

##
# api configuration
##
#api-host: "127.0.0.1"
#api-port: 3031
#disable-api: false

##
# socket configuration
##
#disable-sockets: false
#socket-host: "127.0.0.1"
#socket-port: 3030

##
# statsd configuration
##
#statsd-disable: false
#statsd-event-handlers: ""
#statsd-flush-interval: 10
#statsd-metrics-host: "127.0.0.1"
#statsd-metrics-port: 8125

##
# other
##
#cache-dir: "C:\ProgramData\sensu\cache\sensu-agent"
#config-file: ""
#deregister: false
#deregistration-handler: ""
#keepalive-timeout: 120
#keepalive-interval: 20
#extended-attributes: ""
#log-level: "warn"
#redact: ""
