package v3

// {{ .Comment }}

import (
	"encoding/json"
	"errors"
	"fmt"
	"net/url"
	"path"
	"reflect"

	corev2 "github.com/sensu/sensu-go/api/core/v2"
)

// implement validator to add validation to Validate methods
type validator interface {
	validate() error
}

// implement storeNamer to override StoreName methods
type storeNamer interface {
	storeName() string
}

// implement rbacNamer to override RBACName methods
type rbacNamer interface {
	rbacName() string
}

// implement uriPather to override URIPath methods
type uriPather interface {
	uriPath() string
}

type getMetadataer interface {
	GetMetadata() *corev2.ObjectMeta
}

func uriPath(typename, namespace, name string) string {
	if namespace == "" {
		return path.Join("api", "core", "v3", typename, url.PathEscape(name))
	}
	return path.Join("api", "core", "v3", "namespaces", url.PathEscape(namespace), typename, url.PathEscape(name))
}

{{ range $index, $typename := .TypeNames }}
// SetMetadata sets the provided metadata on the type. If the type does not
// have any metadata, nothing will happen.
func ({{ receiver $typename }}) SetMetadata(meta *corev2.ObjectMeta) {
	// The function has to use reflection, since not all of the generated types
	// will have metadata.
	value := reflect.Indirect(reflect.ValueOf({{ rvar $typename }}))
	field := value.FieldByName("Metadata")
	if !field.CanSet() {
		return
	}
	field.Set(reflect.ValueOf(meta))
}

// StoreName returns the store name for {{ $typename }}. It will be
// overridden if there is a method for {{ $typename }} called "storeName".
func ({{ receiver $typename }}) StoreName() string {
	var iface interface{} = {{ rvar $typename }}
	if prefixer, ok := iface.(storeNamer); ok {
		return prefixer.storeName()
	}
	return "{{ storeName $typename }}"
}

// RBACName returns the RBAC name for {{ $typename }}. It will be overridden if
// there is a method for {{ $typename }} called "rbacName".
func ({{ receiver $typename }}) RBACName() string {
	var iface interface{} = {{ rvar $typename }}
	if namer, ok := iface.(rbacNamer); ok {
		return namer.rbacName()
	}
	return "{{ rbacName $typename }}"
}

// URIPath returns the URI path for {{ $typename }}. It will be overridden if
// there is a method for {{ $typename }} called uriPath.
func ({{ receiver $typename }}) URIPath() string {
	var iface interface{} = {{ rvar $typename }}
	if pather, ok := iface.(uriPather); ok {
		return pather.uriPath()
	}
	metaer, ok := iface.(getMetadataer)
	if !ok {
		return ""
	}
	meta := metaer.GetMetadata()
	if meta == nil {
		return uriPath("{{ kebabCase $typename }}s", "", "")
	}
	return uriPath("{{ kebabCase $typename }}s", meta.Namespace, meta.Name)
}

// Validate validates the {{ $typename }}. If the {{ $typename }} has metadata,
// it will be validated via ValidateMetadata. If there is a method for
// {{ $typename }} called validate, then it will be used to cooperatively
// validate the {{ $typename }}.
func ({{ receiver $typename }}) Validate() error {
	if {{ rvar $typename }} == nil {
		return errors.New("nil {{ $typename }}")
	}
	var iface interface{} = {{ rvar $typename }}
	if resource, ok := iface.(Resource); ok {
		if err := ValidateMetadata(resource.GetMetadata()); err != nil {
			return fmt.Errorf("invalid {{ $typename }}: %s", err)
		}
	}
	if validator, ok := iface.(validator); ok {
		if err := validator.validate(); err != nil {
			return err
		}
	}
	return nil
}

// UnmarshalJSON is provided in order to ensure that metadata labels and
// annotations are never nil.
func ({{ receiver $typename }}) UnmarshalJSON(msg []byte) error {
	type Clone {{ $typename }}
	var clone Clone
	if err := json.Unmarshal(msg, &clone); err != nil {
		return err
	}
	*{{ rvar $typename }} = *(*{{ $typename }})(&clone)
	var iface interface{} = {{ rvar $typename }}
	var meta *corev2.ObjectMeta
	if metaer, ok := iface.(getMetadataer); ok {
		meta = metaer.GetMetadata()
	}
	if meta != nil {
		if meta.Labels == nil {
			meta.Labels = make(map[string]string)
		}
		if meta.Annotations == nil {
			meta.Annotations = make(map[string]string)
		}
	}
	return nil
}

// GetTypeMeta gets the type metadata for a {{ $typename }}.
func ({{ receiver $typename }}) GetTypeMeta() corev2.TypeMeta {
	return corev2.TypeMeta{
		APIVersion: "core/v3",
		Type: "{{ $typename }}",
	}
}
{{ end }}
