bin/
target/
coverage.txt
*~
\#*

# semgrep rules
dgryski

# dashboard
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.test
*.prof
coverage.out
*.csr
*.pem
!/backend/authentication/jwt/testdata/*
ca-config.json
*.log
.envrc

# editors
.idea

# binaries
sensu-agent
sensu-backend
sensuctl
loadit
*.exe
