sudo: required
services:
- docker
language: go
go:
- 1.10.x
branches:
  only:
  - master
  - /\d+\.\d+(\.\d+)?(-\S*)?$/
stages:
- name: test
- name: deploy
  if: branch = master OR tag IS present
cache:
  yarn: true
  directories:
  - dashboard/node_modules
before_install:
  - echo -e "machine github.com\n login $GITHUB_TOKEN" >> ~/.netrc
  - ulimit -s 1082768
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.6.0
  - export PATH="$HOME/.yarn/bin:$PATH"
install:
# Travis clones with depth=50 by default. If the most recent tag is more than
# 50 commits back, git describe will fail. Fetch tags and full history.
- "git fetch --unshallow --tags"
- "./build.sh build_tools"
script: "./build.sh $TEST_SUITE"
jobs:
  include:
  - stage: deploy
    env: GOARCH=amd64 TEST_SUITE=none
    script: skip
    deploy:
    - provider: script
      skip_cleanup: true
      script: "./build.sh docker deploy master"
      on:
        branch: master
        condition: $TRAVIS_EVENT_TYPE != api
    - provider: script
      skip_cleanup: true
      script: "./build.sh deploy versioned"
      on:
        tags: true
        branch: master
    - provider: script
      skip_cleanup: true
      script: "./build.sh deploy nightly"
      on:
        condition: $TRAVIS_EVENT_TYPE = api
env:
  matrix:
  - GOARCH=386 TEST_SUITE=unit GOGC=off
  - GOARCH=amd64 TEST_SUITE=unit GOGC=off
  - GOARCH=386 TEST_SUITE=integration GOGC=off
  - GOARCH=amd64 TEST_SUITE=integration GOGC=off
  - GOARCH=amd64 TEST_SUITE=e2e GOGC=off
  - TEST_SUITE=dashboard-ci GOGC=off
  global:
  - SENSU_BUILD_ITERATION=1
  # Docker Username (DOCKER_USERNAME)
  - secure: "MFxHUNzPqyYaoQcWtHFi1NdxMEWkoU66xh9J0M9du/uOgFt3URfelPPFAFtjPfhXqMUuNKTopc5H2SiBfazyZw8IswAbbRHn0AKOSux5WuqHwIz4/PoNYnQihmvYo87DdWSeyKaR0da7ks142zatfkUy71ae7RdsAzHtKGdIfEn+lBLkPfVG65faDyWoQvRwJd0uRcvzRSj2eUP9REdTenKDNM8OBeoZAhFm7xhV6d8K54EnMf2JfPgzXNH/LttTpWH0/XtyT1C4Lsz7DWEMWr6z4OavC1M2EysrNCK7g75SHguFZYKjbHmpjSBQcQs8T26UhHVWEPnXwaFuQKuogBM0AzN+7qUWmhqxVQF9Z3GQBdCyhP1Cet1cR8UHYiYkTkPCF/YVXRG6MgKxnW/UOkjOUQCQf1Nr5o2pP7vBrdevMIXfT2268aR60289scQSDMzFuwmYqeJ6mLWJal9rfpl6GumUv7ois7V/gvKRDI6LPTAVv9z42v29ZaQoqDi1Csuyi+ShTmeAQI3flgAb3Wg01nEyaQtQMLwVVMDfPJjhALM7cu7XbPkOTvSQBYdKgqRXs2c4jN4cTN/G2yMiRrGrkxSZR/eygipZXJW2Fb+zc+loo+SrjKB38yiPYjuVA22GVqHHezRzbgNZQKn/RknR5iNd9SUdB/xFrK+ccyY="
  # Docker Password (DOCKER_PASSWORD)
  - secure: "PotWEpvqLG77934TZXZ8RjmF7FIBRGdqfM/8SKSo1MAKx9tt8GDHoUCoHauUNEYQqBO88TRto2f9U0ByKpQbd9N4n1aapRl0oa0mnL54AVDbiFmQsIugDgSk/ODWPNkd6fifjrGIGcnT5SFEIavfgOa9E2WvrsNqy/cxcLKuoRlkk9qRbySmfow9vDMmPV5Y32rUhoiba8SSH1UE+QguA04us524+sBJ3yb14gbbswBP2uTJuCYiJlANHnUvX6L2H0gq9BK82tpOyWWnL1cl2pqjeWJ7h1F6rpSLf1zCEf8kMU2oHbREYTmbV51IP5MS55nrI5TD9wdKRg3Komc/iy5tmS7GLiC2D21rxxdWFkZlphcSkX+hB1Vgh/X8Yx3bk4VrEaMhyed0VxsEicyiNWt2aOURoIwOtpuhsIWtOswVBllpOE9YbOwYs/p8cvTZ0ZElcf3qrcQhVQyq4wvzwcLG4CIh+hQbR3sYcmgPNV8EwcR+6xEEpFkYQ7RqwW8L0BsHhSWgH9EPXsWgKEGjdp5kuJZATlQ7bYeBTe5G7IzkDQXL9V9bcwWZp9pKUTKiVaxkcxcBFTgMSHRJL2NESs1GNfnSS6R7xPSgD5qBHGzDC+4N0Z9bMyOFk436lbS7HtnceBsyiidweCEYY/gaWORtUeUIpauVauj4sJGBpRI="
  # Github Token (GITHUB_TOKEN)
  - secure: "TIq9QyuKT6C1zdiDVkVpBBGJdysTRGrYFK87KTsOp2zd04WJTvEvYT27SsX8PXg9NbH+vgvmsu6jH2O5NzniiKVayWYUERq6MVWbEoFXV6oeu5NGiL+U471gbkHpZ3Mpxwqt/Sd0fJM4URQF2rXbKY6uKbEzEV2UIoslJlJA3e49fxelq/E9trwZQtmLaHO7b50TovI2Db2VXBuRYbqBjKllXY3XEXk0CI9VbwIEWLP7aeF0HEAgupLi9rvcrUQ5RTu7haJZuIOVQj3qMW3r6+GHrJqSpZcv43bAkiqqjLw21orNUqRsUc+7OK8wQQlR6Qz/2EgvnftVTqgY0mgA1DelQmtX9s5hpPXxeClDbHgTFV52yzncNIMomOeFdarOwf/IUGjbY6qzDxB0u2PzJ/XQDiJLkwv7u2BAKKE8yIHzHxOfxvkv2FzdkAkvmXGDM6WotHyOfylCW1fQk3iahoKgDBQKvEJcxrF1Pmuo8Nkg1pUCfJ9o1ONU0oq8daCCDA1TzMPkiaWKKeXLvTYH7lB0xqKA0zYCcClyCwE4mTdH3aCuh9iT55sMRbj29hcEvgRQrrgt/w8nl6UclFvT3HkZxDlM5sEvQjQKtG0r0TxvJShClCbjbtqHKAts61jwkWrdrJuOR9POnPBkWWSuwQ3TCUij+sp5zd/JMRu/pMs="
  # PackageCloud Token (PACKAGECLOUD_TOKEN)
  - secure: "ixi9zFdsW/Z8x+uLerruPLe9Vj39WHM1B5wL8rkrld9eZWv+tt7JCFmC0Gdg6Y4R7DC3Zxlf5IWUtUNm26k0kvKSIzjlcL21ac9/TwvSXGtApuWbY4DPnmDALXgr/RNjRrCZedN0o7ve8dkH3cjdGw7sF36XUwXIGbYudf/EncvdQdpaPwI6pc4v8PTHuBM5b4eMasE5WX3CNH2GpKbXW+CJTqDbKM925P95aZ3GbWRuXzV2hsHHwQrLAc8iE2Ggj9S2/B4e96/hw0gCvfYKvstUHnWfI8Q5DJswo61Z3aRcngBSHsZ8V6m5bXD8gnlE9/yrC2ksrrIloMsR6blDb2HyQpnlM5JBUOICQ9A4fU1dWzWNwdQLtEas5vAHyqfHgUl2FUOlZn4vkSIwDmxkgoUQ85fQLNbn6J6L2zUG6fkVUX6eBj6RM28E9DtsTqGD3APQNZ+7aAlu6pWP/hVhN76zQyeyf3+sQhTMBmcuJUjL28xxboc1T61E5q+MvkTI0Y7BMPNeuzlk5NIZwg3PISnL3FMtP7d0NYL6yKL0IDtpYii2w2ywvrz8O4TA/YrzRC6fdk+5xyjWml593HHjdHtPputNZKGDPCltGsYN0xwPNQBpeqA0DakDZ1Rf4U5g9/12eVAm721Q8Yh3m97EC2OaRBkleP+XYITgSsxmbFs="
notifications:
  slack:
    on_success: change
    on_failure: always
    on_pull_requests: false
    secure: iXhhz0drjrH6Z2weDkyhCN0vEYiKNjA9J46U6HL8V3kp4Eo//Fk55DnBiL/uW896lTYynZNML5wa0IZ3yMuEP67p8LXIzFQI7li7R007uBiqdYGK1+cyid7KTMX6kNSG8H4DchCK56XjL4V8nPhlplXBB2MklBKrRUpXWtXQAulq6wj+rL7/fvx7rsky8yEqb+/GkkrKXDMgmSnR8qvyrI5n1PrYzx1Or2hv5efFIvzf8n7uWViC+V+DctvVkVsmRWsoWuTqHD91stifHTFbH7M3hEiOVzYsn7rHkpX3DLIlW2yEwyk1uRM51tAT/+JwELPeJqyCsABelW8/U6RLebjiUdPDjJ2ausizHpbeyPXohSij2/hFhQqIltLaqGF1B7tJ5Uth3OEhhaQHM8IaUywg5oN8si9K38W61rQcitcf6WCMENj6mDsZPttw/qMqg6pEl62VXhwslddyUomoo+tvFxpfNVG/Ttbdc432l4zDE/Xl7s/txpCirwHI82sVZRrcyc8kNYYaRX/sZP7gOBf93s45byy3wbeFUKK6yREPgKf0o1NZ51/AplWxaUnjjFON8G6t9cOwYvZeF21Nqry4fYAG1u8ugAG2ltpKJw3ViEzRElbcD7p5la14Ukvj4o/Sux4048hbXEZGLZr7kVIWQE95XcPfo+k3NDwmKeM=
    template:
    - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} in PR <%{pull_request_url}|#%{pull_request_number}> by %{author} %{result} in %{elapsed_time}"
