sudo: required
services:
- docker
language: go
go:
- 1.9.x
branches:
  only:
  - feature/automated-release
  - /\d+\.\d+(\.\d+)?(-\S*)?$/
stages:
- name: deploy
  if: branch = feature/automated-release OR tag IS present
- name: test
  if: branch = master
cache:
  yarn: true
  directories:
  - backend/dashboardd/node_modules
  - vendor
before_install:
- echo -e "machine github.com\n login $GITHUB_TOKEN" >> ~/.netrc
# Authentication for Google Cloud
openssl aes-256-cbc -K $encrypted_d9a31ecd7e9c_key -iv $encrypted_d9a31ecd7e9c_iv -in gcs-service-account.json.enc -out gcs-service-account.json -d
install:
- "./build.sh deps"
- "./build.sh build_tools"
#script: "./build.sh $TEST_SUITE"
jobs:
  include:
  - stage: deploy
    env: GOARCH=amd64 TEST_SUITE=none
    script: skip
    deploy:
    - provider: script
      skip_cleanup: true
      script: "./build.sh docker push master"
      on:
        branch: master
    - provider: script
      skip_cleanup: true
      script: "./build.sh deploy"
      on:
        tags: true
env:
  matrix:
  - GOARCH=amd64 TEST_SUITE=lint GOGC=off
  - GOARCH=386 TEST_SUITE=unit GOGC=off
  - GOARCH=amd64 TEST_SUITE=unit GOGC=off
  - GOARCH=386 TEST_SUITE=e2e GOGC=off
  - GOARCH=amd64 TEST_SUITE=e2e GOGC=off
  - TEST_SUITE=dashboard-ci GOGC=off
  global:
  - secure: hkfmIw8kqHSb1xwJOq9kjtJL5J8VZfVNOjDeQTq6tzUzovqQQzKylENSOs0kmbgRTADOUHRNDt2iVp5/cGtGpFchaIyErJNQVh1l1A1iq1jDgma1UMEoKujn0FYJOurBkZyF3APYJ15n08GoHZdVdUmgWvgeErLyvGJkWhPXOYume2RS0gX5eItB6jdtlj1xiNlCvDc8KpZ6OluMczoe2tNykdX7MwOzhx4uI6uHO5Y4kclBOyJClMWK4aDQfm6SJFyRzEn9nOlGLgCrbJBmc+vF6ge59pWeIaChlp0ukT9M3f074XfiICnRiY9VMofQ7hiWZYfbPApIVX2QthNTuCTJOc4QiI58fZ89+++1lp2GHUG7A2d0M4Uiexc0Io4Or5U+hnb+xIScUzJTWiAIezqCeGjFhTqK/tpUUI0frsBgtpjBTcDTP70vIETardcZD/m/7U+JCLRaF/qhoQgelXyZ2nqsOqqJJayv4WaWHavYTYZhdGkNUdHVV3IrSnkAx2ZClHBV+2nyv1frIv4tGLo0qheQQZ7hrmFkGRO6/zzGB0pKLxF8cJmrM+svt18pW3w56C5c09UAXu5IT0SfYEsPJqXw1aQjxhLplHKJrrstZjVnXU3S+/h20TZS+8mNxxYU0/Ox9MrmETzI4cZ2BiiylMle2gLtqIisQB/qNKY=
  - secure: f+DtaaLy5X0+tbllNOLbWhtVRxkxtm9SUu2DXzmJc4tVV5SKzdD8ewINoPuHmH6XmjhcevFDSTuQEct7gG7d5Pp1HNrtgYmZnrdDFhFXmRUMRwbzUIM4znEl6ej6DsXDvvQ/VZ85b8lH2eSHUk57DRnnrn5Ig96ZNCVy1MZcUZlXS4wx+sgMgsPcPlufkJYZD8pI/jTjLYrurWc96Pb7FsgEsJGbFq5cSQWXoLWgvSs8ZcqaKhR13ikdBhAuXPvASeRTlby+AY7YsDslTb5vgppw5Xt5cfSA0OPlzXA0FgLz60T15CQjq9zQJTndRFHB6cpcMDywF5dmPsec8TnWfr2DziOtQCF8e1+V+gAhL5gaZLj1qvK4Fd/WWBcOlXcdBfTQqRWYXpy81uDwERXzDqkw1wlRqZOmHqR9JdvQgERzrk36AkAWGGOk0Ib3wCobHC2xE4oYW2CNNk/TinwZov5e+rEZEcM4qzlxloHvIjNYTEBbZrhf7nOymTrZCxUtatcZqb76Vd7CJOnoovRAhq1n79GmFKf5vovJWR0RrsW5s2akdB39Rh/uXi2aqfFQ7HCiLGd1dZCvFzWjYjnSVrfmNNZtxBcyBv1sNc/G9hoWqCZPR/7LqL1fQi/xk1CpK92uPl5Z6lNqLoHIAUi8EurcUd3aDuy1SzCZq2w8F5U=
  # Github token
  - secure: "gWd+xiVpiQiCllzPGB0fQhAQFtg01WVo4D+5yYuKJPBP84n7BEarP2rw6PSqoP/Qs2lsLNuTom5PesLwEBbW55qzgApOoKH++lePc5lYuY3aFW1yUqby7A7jzDHzovpV7txNfETb7660bpxUVJqEd05i1o9w8ACGSY4PnD0/2m1H3NYpJ9fyS5NAMmV2V14TqUHZFzVFyef7c7GFk8knWX7XbseogEgTq4WcIm7rEheljlC4+F7QwMiYKqXG+y20bz8n0C44kzAzS6mwQOu+XmVqO852bvAisbP0xUtAsvYK6ZVB52itTgkkx8H2qJbrBzfitzfD1G/cmZ9Q0RPjWLFuPcwOeS+TD6am004Wk061pRxLN0ve2oEJgFwj5F0+h8eaL5Wpf2QGn8260lUXzcZlO5WArWm3USkKafNvGf1xUk9EKVsBmS7omiYC73YoXFFgRKSZtq+13HjtwLUaRaxfEupA53PmfwQJyPiX8dt967yJPGsyLoDGq5jIcHQC52rCcValGS0zlZt4h8LZks6Vwf1SYLrg1HaFwjc3bCsuF3PBBVmdFkQ5hmYGaJEszuklcnt3V2HM1Vya4ie29pXWcYjgVHmxgTKLQ+LMwQDVk67UKMe+nLmtUMXEZ8Af3uiF0K1UP5P+MlptDeOK0DzvxYdC07njns6KkiuDI3s="
notifications:
  slack:
    on_success: change
    on_failure: always
    on_pull_requests: false
    secure: iXhhz0drjrH6Z2weDkyhCN0vEYiKNjA9J46U6HL8V3kp4Eo//Fk55DnBiL/uW896lTYynZNML5wa0IZ3yMuEP67p8LXIzFQI7li7R007uBiqdYGK1+cyid7KTMX6kNSG8H4DchCK56XjL4V8nPhlplXBB2MklBKrRUpXWtXQAulq6wj+rL7/fvx7rsky8yEqb+/GkkrKXDMgmSnR8qvyrI5n1PrYzx1Or2hv5efFIvzf8n7uWViC+V+DctvVkVsmRWsoWuTqHD91stifHTFbH7M3hEiOVzYsn7rHkpX3DLIlW2yEwyk1uRM51tAT/+JwELPeJqyCsABelW8/U6RLebjiUdPDjJ2ausizHpbeyPXohSij2/hFhQqIltLaqGF1B7tJ5Uth3OEhhaQHM8IaUywg5oN8si9K38W61rQcitcf6WCMENj6mDsZPttw/qMqg6pEl62VXhwslddyUomoo+tvFxpfNVG/Ttbdc432l4zDE/Xl7s/txpCirwHI82sVZRrcyc8kNYYaRX/sZP7gOBf93s45byy3wbeFUKK6yREPgKf0o1NZ51/AplWxaUnjjFON8G6t9cOwYvZeF21Nqry4fYAG1u8ugAG2ltpKJw3ViEzRElbcD7p5la14Ukvj4o/Sux4048hbXEZGLZr7kVIWQE95XcPfo+k3NDwmKeM=
    template:
    - "Build <%{build_url}|#%{build_number}> (<%{compare_url}|%{commit}>) of %{repository}@%{branch} in PR <%{pull_request_url}|#%{pull_request_number}> by %{author} %{result} in %{elapsed_time}"
