#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
required = [
  "github.com/shirou/w32",
  # pruned by go-tests directive but this package is useful when testing
  "github.com/graphql-go/graphql/testutil",
]

[prune]
  go-tests = true
  unused-packages = true

[[prune.project]]
  name="github.com/shirou/gopsutil"
  unused-packages = false

[[prune.project]]
  name="github.com/gogo/protobuf"
  unused-packages = false

[[prune.project]]
  name = "github.com/golang/protobuf"
  unused-packages = false

[[constraint]]
  name = "github.com/AlecAivazis/survey"
  version = "1.4.1"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.0.5"

[[constraint]]
  name = "github.com/coreos/pkg"
  version = "3.0.0"

[[constraint]]
  name = "github.com/dgrijalva/jwt-go"
  version = "3.0.0"

[[constraint]]
  name = "github.com/docker/docker"
  revision = "cbde00b44273a584bed2ee3513db68924b4a6dba"

[[constraint]]
  name = "github.com/google/uuid"
  version = "0.2.0"

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "1.5.0"

[[constraint]]
  name = "github.com/gorilla/websocket"
  version = "1.2.0"

[[constraint]]
  branch = "master"
  name = "github.com/mgutz/ansi"

[[constraint]]
  name = "github.com/mholt/archiver"
  revision = "85d3d0b511eae05958ddb34e9eac57d8ffea03bf"

[[constraint]]
  branch = "master"
  name = "github.com/mitchellh/go-homedir"

[[constraint]]
  name = "github.com/olekukonko/tablewriter"
  revision = "d4647c9c7a84d847478d890b816b7d8b62b0b279"

[[constraint]]
  name = "github.com/shirou/gopsutil"
  version = "2.18.7"

[[constraint]]
  name = "github.com/spf13/cobra"
  revision = "fd32f09af19efc9b1279c54e0d8ed23f66232a15"

[[constraint]]
  name = "github.com/spf13/pflag"
  version = "1.0.3"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "1.0.0"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "1.2.2"

[[constraint]]
  branch = "master"
  name = "github.com/willf/pad"

[[constraint]]
  branch = "master"
  name = "golang.org/x/crypto"

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

[[constraint]]
  name = "gopkg.in/h2non/filetype.v1"
  version = "1.0.3"

[[constraint]]
  name = "github.com/go-resty/resty"
  version = "1.0"

# Locked for Windows
[[override]]
  name = "github.com/StackExchange/wmi"
  revision = "b12b22c5341f0c26d88c4d66176330500e84db68"

# Locked for Windows
[[override]]
  name = "github.com/go-ole/go-ole"
  revision = "de8695c8edbf8236f30d6e1376e20b198a028d42"

[[constraint]]
  name = "github.com/json-iterator/go"
  revision = "f7279a603edee96fe7764d3de9c6ff8cf9970994"

[[constraint]]
  name = "github.com/graphql-go/graphql"
  branch = "master"

[[constraint]]
  name = "github.com/gogo/protobuf"
  version = "1.1.1"

[[override]]
  name = "github.com/dsnet/compress"
  revision = "f41072d47fff1112fa37146dfc812a476cce2d7f"

[[constraint]]
  name = "github.com/coreos/etcd"
  version = "3.3.2"

[[constraint]]
  name = "github.com/robfig/cron"
  revision = "2315d5715e36303a941d907f038da7f7c44c773b"

[[constraint]]
  branch = "master"
  name = "github.com/shirou/w32"

[[constraint]]
  name = "github.com/dave/jennifer"
  version = "0.15.0"

[[constraint]]
  name = "github.com/emicklei/proto"
  version = "1.1.0"

[[constraint]]
  branch = "master"
  name = "github.com/mitchellh/mapstructure"

[[constraint]]
  branch = "master"
  name = "github.com/shurcooL/vfsgen"

[[constraint]]
  branch = "master"
  name = "github.com/NYTimes/gziphandler"

[[constraint]]
  name = "github.com/atlassian/gostatsd"
  version = "6.1.1"

[[constraint]]
  name = "github.com/echlebek/timeproxy"
  version = "1.0.0"

[[constraint]]
  name = "github.com/echlebek/crock"
  version = "1.0.1"

[[constraint]]
  name = "github.com/golang/protobuf"
  version = "1.1.0"

[[constraint]]
  name = "go.etcd.io/bbolt"
  version = "1.3.0"

[[constraint]]
  name = "github.com/sensu/yaml"
  revision = "704b36ea12f40d32ffe6bd109c2ddc894af28dde"

[[constraint]]
  branch = "master"
  name = "github.com/robertkrimen/otto"
