.content {
  padding-left: 280px;
  padding-right: 20px !important;
  padding-top: 64px !important;
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
}
