# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details

version: 2

sensu_go_build_env: &sensu_go_build_env
  #### TEMPLATE_NOTE: go expects specific checkout path representing url
  #### expecting it in the form of
  ####   /go/src/github.com/circleci/go-tool
  ####   /go/src/bitbucket.org/circleci/go-tool
  working_directory: /go/src/github.com/sensu/sensu-go
  docker:
    - image: circleci/golang:1.11.4

jobs:
  test:
    <<: *sensu_go_build_env
    resource_class: large
    parallelism: 2
    steps:
      - checkout

      # Run tests
      - run: ./build.sh unit
      - run: ./build.sh integration

workflows:
  version: 2
  run_the_tests:
    jobs:
      - test:
          requires:
            - build
          filters:
            tags:
              ignore: /.*/
