# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details

version: 2

sensu_go_build_env: &sensu_go_build_env
  docker:
    - image: cimg/go:1.13.15

jobs:
  test:
    <<: *sensu_go_build_env
    environment:
      GO111MODULE: 'on'
      GOPROXY: 'https://proxy.golang.org'
    resource_class: large
    parallelism: 2
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      # Run tests
      - run: ./build.sh unit
      - run: ./build.sh integration
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

workflows:
  version: 2
  run_the_tests:
    jobs:
      - test:
          filters:
            tags:
              ignore: /.*/
