[Unit]
Description=The Sensu Backend service.

[Service]
Type=simple
User=sensu
Group=sensu
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/sensu-backend
EnvironmentFile=-/etc/sysconfig/sensu-backend
LimitNOFILE=65535
ExecStart=/usr/bin/sensu-backend start -c /etc/sensu/backend.yml
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
