.logo {
  border-bottom: 1px solid #e0e0e0;
  height: 63px;
}

.logo img {
  height: 32px;
  padding: 16px 0 11px 24px;
}

.sidebar {
  border-right: 1px solid rgba(0,0,0,.14);
  bottom: 0;
  background: #fff;
  color: #212121;
  display: block;
  font-family: Roboto,sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 256px;
  z-index: 4;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
