.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  margin: 5px;
  display: inline-block;
}

.App-header {
  background-color: salmon;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 5px;
}

.App-intro {
  font-size: large;
}
