name: static-check

on:
  pull_request:
  push:
    tags:
      - 'v*'
    branches:
      - main

jobs:
  staticcheck:
    name: staticcheck (project)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - id: install_go
        uses: WillAbides/setup-go-faster@v1.7.0
        with:
          go-version: "1.18.x"
      - uses: dominikh/staticcheck-action@v1.2.0
        with:
          install-go: false
          version: "2022.1.2"
