name: static-check

on:
  pull_request:
  push:
    tags:
      - 'v*'
    branches:
      - main

jobs:
  staticcheck:
    name: staticcheck (project)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: WillAbides/setup-go-faster@v1.8.0
        with:
          go-version: "1.21.x"
      - uses: dominikh/staticcheck-action@v1.0.0
        with:
          version: "2023.1.6"
          install-go: false
          cache-key: "1.21.x"
env:
  GO_VERSION: 1.21.3
